.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  width:95%;
  height:14rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.kpmg-header{
  /* background-color: #4E24DF; */
  background-color: #4178D9;
  min-height: 6vh;
  height:40px;
  display: flex;
  
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  letter-spacing: 2px;
}
.header-content{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 1.4rem;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.App-link {
  color: #61dafb;
}

.kpmg-footer{
  /* background-color: #4E24DF; */
  background-color: #4178D9;
  min-height: 6vh;
  height:30px; 
  bottom: 0;
  vertical-align: bottom;
  font-size: calc(10px + 1.4vmin);
  margin-top: 3px;
}
.bottom-position{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;width: 100%;
}

.kpmg-footer > section{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  letter-spacing: 2px; 
          font-size: 1.1rem!important;
          color: white;
        
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
